/**
 * @name LoochisCord
 * @author Loochis | loochis#3662
 * @description My mod of Patryk Bliemanins Cyberpunk 2077 Theme - https://github.com/PatrykBielanin/discord-cyberpunk2077-theme
 * @version 1.0.0
 * @source https://github.com/Loochis/discord-loochis
 * @website https://github.com/Loochis/discord-loochis
 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani');
@import url('https://loochis.github.io/discord-loochis/base.css');

:root {
    --background-primary: linear-gradient(180deg, rgba(23,23,23,.75) 10%, rgba(0,0,0,1) 65%); /* Background gradient */
    --background-secondary: linear-gradient(180deg, rgba(23,23,23,.75) 10%, rgba(0,0,0,1) 65%); /* Background gradient */
    --font-primary: 'Rajdhani'; /* Font */
    --primary-text-color: lightgray; /* Font color */

    --primary: 23, 13, 22;  /* Background color mainly used for popups */
    --red: 255, 0, 60; /* Use RGB values */
    --blue: 114, 234, 248; /* Use RGB values */
    --yellow: 243, 230, 0; /* Use RGB values */
    --green: 71, 213, 139; /* Use RGB values */
    --dark-green: 56, 171, 111; /* Use RGB values */
}
